[Unit]
Description=Perform restic backup

[Service]
Type=oneshot
ExecStart=/usr/bin/restic backup \
    --verbose \
    --exclude-file $RESTIC_EXCLUDE_FILE_PATH \
    $BACKUP_PATH
ExecStartPost=/usr/bin/restic forget \
    --verbose \
    --keep-daily 30 \
    --keep-monthly 1 \
    --prune
EnvironmentFile=%h/.config/restic/restic.env
