{
    http_port 8080
    https_port 8443
}

http://raspberrypi.lan:8080 {
    handle /readeck* {
        reverse_proxy 127.0.0.1:8081
    }

    handle /webdav* {
        reverse_proxy 127.0.0.1:8082
    }
}

https://raspberrypi.lan:8443 {
    handle /readeck* {
        reverse_proxy 127.0.0.1:8081
    }

    handle /webdav* {
        reverse_proxy 127.0.0.1:8082
    }

    tls internal
}
