{
    http_port 8080
    https_port 8443
    local_certs
}

http://:8080 {
    handle /readeck* {
        reverse_proxy http://localhost:8081
    }
}

https://:8443 {
    handle /readeck* {
        reverse_proxy http://localhost:8081
    }
    tls internal {
        on_demand
    }
}
