[Unit]
Description=Zettelkasten git sync

[Service]
Type=oneshot
WorkingDirectory={{ peer_zettelkasten_git_dir }}
ExecStart={{ peer_zettelkasten_bin }} commit -c 60m
ExecStart={{ peer_git_bin }} pull origin master
ExecStart={{ peer_git_bin }} push origin master
