# caddy.service
#
# https://caddyserver.com/docs/running

[Unit]
Description=Caddy
After=nss-lookup.target

[Service]
Type=notify
ExecStart={{ ansible_env.HOME }}/.local/bin/caddy run --environ --config {{ ansible_env.HOME }}/caddy/Caddyfile
ExecReload={{ ansible_env.HOME }}/.local/bin/caddy reload --config {{ ansible_env.HOME }}/caddy/Caddyfile --force
TimeoutStopSec=5s
LimitNOFILE=1048576
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
