# readeck.service

[Unit]
Description=Readeck
After=multi-user.target

[Service]
Type=exec
ExecStart={{ ansible_env.HOME }}/.local/bin/readeck serve -config {{ ansible_env.HOME}}/.config/readeck/config.toml
