---
- name: Install readeck
  ansible.builtin.get_url:
    url: "https://codeberg.org/readeck/readeck/releases/download/0.20.1/readeck-0.20.1-linux-arm64"
    dest: "{{ ansible_env.HOME }}/.local/bin/readeck"
    force: false
    mode: 0755

- name: Create readeck directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ ansible_env.HOME }}/srv/readeck/data"
    - "{{ ansible_env.HOME }}/.config/readeck/data"

- name: Copy readeck config
  ansible.builtin.template:
    src: config.toml
    dest: "{{ ansible_env.HOME }}/.config/readeck/config.toml"

- name: Copy systemd readeck.service
  ansible.builtin.template:
    src: readeck.service
    dest: "{{ ansible_env.HOME}}/.config/systemd/user/readeck.service"

- name: Enable systemd readeck.service
  ansible.builtin.systemd_service:
    name: readeck.service
    scope: user
    enabled: true
    state: started
